{% extends "base.html" %}
{% block body %}

{% if current_user.is_authenticated %}

<!-- Begin non-admin favorites.-->
{% if not adm %}
<div class="row center-align">
	<div class="col s0 m3 l4 xl4"></div>
	<div class="col s12 m6 l4 xl4">
		<div class="module">
			<h5>Favorites</h5>
			<div>
				{% if not has_favs %}
				<p>You have no favorites. Add them by clicking "Favorite" on a course page.</p>
				{% endif %}
				{% for tuples in favs%}
				<a href="/official?id={{tuples[0].official_id}}"> {{tuples[1]}} </a><br>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col s0 m3 l4 xl4"></div>
</div>
{% endif %}
<!-- End non-admin favorites.-->

<!-- Begin admin modules -->
{% if adm %}
<div class="row">
	<div class="col s12 m6 l6 xl6">
		<div class="module">
			<h5>Add an admin</h5>
			<form id="addadmin" method="POST" action="/addadmin">
				Email:<br>
				<input type="email" name="addemail" placeholder="capstone.teacher.one@gmail.com" required>
				<input type="submit" class="btn">
			</form>
			<div id="addadminstate" class="error-message"></div>
		</div>
	</div>
	<div class="col s12 m6 l6 xl6">
		<div class="module">
			<h5>Remove an admin</h5>
			<form id="remadmin" method="POST" action="/remadmin">
				Email:<br>
				<input type="email" name="rememail" placeholder="capstone.teacher.one@gmail.com" required>
				<input type="submit" class="btn">
			</form>
			<div id="remadminstate" class="error-message"></div>
		</div>
	</div>
</div>

<div class="row">
	<!-- Add a course -->
	<div class="col s12 m4 l4 xl4">
		<div class="module">
			<h5>Add a course</h5>
			<form id="add" method="POST" action="/add">
				Year:<br>
				<input type="text" name="year" placeholder="2017" required><br>
				Semester:<br>
				<select class="input-field" name="semester">
					<option value="" disabled selected> Select Semester</option>
					<option value="Spring">Spring</option>
					<option value="Summer">Summer</option>
					<option value="Fall">Fall</option>
				</select>
				Department:<br>
				<input type="text" name="department" placeholder="CS" required><br>
				Course ID:<br>
				<input type="text" name="cid" placeholder="10001" required><br>
				Section:<br>
				<input type="text" name="section" placeholder="001" required><br>
				Instructor:<br>
				<input type="email" name="instructor" placeholder="capstone.teacher.one@gmail.com" required><br>
				<input class="btn accent-2" type="submit" value="submit" required>
			</form>
			<div id="addstate" class="error-message"></div>
		</div>
	</div>

	<!-- Remove a course -->
	<div class="col s12 m4 l4 xl4">
		<div class="module">
			<h5>Remove a course</h5>
			<form id="remove" method="POST" action="/remove">
				Year:<br>
				<input type="text" name="year" placeholder="2017" required><br>
				Semester:<br>
				<select class="input-field" name="semester">
					<option value="" disabled selected> Select Semester</option>
					<option value="Spring">Spring</option>
					<option value="Summer">Summer</option>
					<option value="Fall">Fall</option>
				</select>
				Department:<br>
				<!--<input type="text" name="department" placeholder="CS" required><br>-->
				<select class="downer" name="department">
				<option value="" disabled selected> Select Department</option>
				{%for dept in depts%}
				<option value="{{dept}}"> {{dept}} </option>
				{% endfor %}
				</select>
				Course ID:<br>
				<input type="text" name="cid" placeholder="10001" required><br>
				Section:<br>
				<input type="text" name="section" placeholder="001" required><br>
				<input class="btn accent-2" type="submit" value="submit" required>
			</form>
			<div id="remstate" class="error-message"></div>
		</div>
	</div>

	<!-- Queue -->
	<div id="queue" class="col s12 m4 l4 xl4">
		<div class="module">
			<h5>Queue</h5>

			{% if pending|length < 1 %}
			You have no items in your queue<br>
			{% endif %}

			{% for item in pending %}
			<a href="/syllabus?id={{ item }}" class="btn accent-2 {{ item }}">{{ item }}<br></a>
			<a href="/queue?id={{ item }}&action=approve" class="btn accent-2 approve {{ item }}">Approve<br></a>
			<a href="/queue?id={{ item }}&action=deny" class="btn accent-2 deny {{ item }}">Deny<br></a>
			<br class="{{ item }}">
			{% endfor %}
		</div>
	</div>
	<!-- Favorites, does not appear if empty.-->
	<div class="col s12 m4 l4 xl4">
		<div class="module">
			<h5> Favorites </h5>
			{% if not has_favs %}
				<p>You have no favorites. Add them by clicking "Favorite" on a course page.</p>
			{% endif %}<!-- End Favs -->
			{% for tuples in favs%}
			<a href="/official?id={{tuples[0].official_id}}"> {{tuples[1]}} </a><br>
			{% endfor %}
		</div>
	</div> 

</div>

<br>
{% endif %}
<!-- End admin modules -->


{% if num > 0 %}
<div class="row center-align">
	<div class="col s0 m3 l4 xl4"></div>
	<div class="col s12 m6 l4 xl4">
		<div class="module">
			<h5>Your Courses</h5>
			<div>
				{% for item in courses %}
				<a href="/syllabus?id={{ item.syllabus }}">{{ item }}<br></a>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col s0 m3 l4 xl4"></div>
</div>
{% endif %}
{% endif %} <!-- endif authenticated -->
<script src="static/js/admin.js"></script>
{% endblock %}
