{% extends "base.html" %}
{% block body %}
<br class="hide-for-print">

<div id="syllabus-buttons" class="hide-for-print">
	<div class="center">
		<div class="row">
			<div class="col s12 m12 l12 xl12">
				<h5>{{title}}</h5>
				{% if owns or adm %}
				<a class="btn accent-2 syll" href="/syllabus?id={{ unoffid }}">View Draft</a>
				{% endif %}
				<button type="button" id="print" class="btn accent-2 syll">Print Syllabus<i class="material-icons right">print</i></button>
				
				{% if logged_in %}
				<!-- Only include on pages that need it-->
				<script src="static/js/favorites.js"></script>
				<form style="display: inline-block;" id="fav_btn" action="/favorite">
					<input name="fav_user" value="{{user_id}}" hidden="">
					<input name="fav_id" value="{{syllabus.id}}" hidden="">
					{% if already_favorited %}
					<button type="submit" id="favorite" class="btn accent-2 red syll">Remove Favorite<i class="material-icons right">star</i></button>
					{% else %}
					<button type="submit" id="favorite" class="btn accent-2 syll">Favorite<i class="material-icons right">star</i></button>
					{% endif %}
				</form>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s0 m1 l2 xl2 hide-for-print">
	</div>
	<div class="col s12 m10 l8 xl8">
		<form id="syllform" method="POST" action="/save">
			<div id="syllabus">
				<input type="hidden" value="{{ syllabus.id|safe }}" name="test1">
				<!--<h5>Basic Information</h5>-->
				<div id="a" class="disp">
					{{ syllabus.basic|safe }}
				</div>
				<br>

				<h5>Course Description</h5>
				<div id="b" class="disp">
					{{ syllabus.description|safe }}
				</div>
				<br>

				<h5>Course Topics</h5>
				<div id="c" class="disp">
					{{ syllabus.topics|safe }}
				</div>
				<br>

				<h5>Learning Outcomes</h5>
				<div id="d" class="disp">
					{{ syllabus.outcomes|safe }}
				</div>
				<br>

				<h5>Grading Policy</h5>
				<div id="e" class="disp">
					{{ syllabus.grading|safe }}
				</div>
				<br>

				<h5>Course Schedule</h5>
				<div id="f" class="disp">
					{{ syllabus.schedule|safe }}
				</div>
				<br>

				<h5>Academic Honesty</h5>
				<div id="g" class="disp">
					{{ syllabus.honesty|safe }}
				</div>
				<br>

				<h5>Registration Deadlines</h5>
				<div id="h" class="disp">
					{{ syllabus.deadlines|safe }}
				</div>
				<br>

				<h5>Accessibility Policy</h5>
				<div id="i" class="disp">
					{{ syllabus.accessibility|safe }}
				</div>
			</div>
			<br>
		</form>
	</div>
	<div class="col s0 m1 l2 xl2 hide-for-print">
	</div>
</div>

<script src="static/js/tinymce/tinymce.min.js"></script>
<script src="static/js/edit.js"></script>
{% endblock %}
