{% extends "base.html" %}
{% block body %}

<br class="hide-for-print">

<div id="syllabus-buttons" class="hide-for-print">
	<div class="center">
		<div class="row">
			<div class="col s12 m12 l12 xl12">
				<h5>{{title}} - Draft</h5>
				{% if owns or adm %}
				<h6>Current Status: {{ syllabus.status }}</h6>
				{% if syllabus.official_id is not none %}
				<a class="btn accent-2 syll" href="/official?id={{ syllabus.official_id }}">View Public</a>
				{% endif %}
				<button class="btn accent-2 syll" id="edit" type="button">Edit<i class="material-icons right">edit</i></button>
				<button id="save" class="btn accent-2 syll" name="submitbtn">Save<i class="material-icons right">save</i> </button>
				<a class="btn accent-2 syll" href="/queue?action=add&id={{ id }}"><i class="material-icons right">gavel</i>Request Approval</a>
				{% endif %}

				<button type="button" id="print" class="btn accent-2 syll">Print Syllabus<i class="material-icons right">print</i></button>
				
				{% if adm %}
				<div id="rpid">
					{% if hasprof %}
					<a class="btn accent-2 syll" id="remprof" href="/remprof?id={{ id }}">Remove Instructor</a>
					{% endif %}
				</div>
				{% endif %}
			</div>
		</div>

		<div id="apid" class="row">
			{% if adm %}
			{% if not hasprof %}
			<div class="col s1 m3 l4 xl4">
			</div>
			<div class="col s10 m6 l4 xl4">
				<br>
				<form method="POST" id="setinstform" action="/setprof">
					<input type="hidden" value="{{ syllabus.id|safe }}" name="id">
					<input type="email" name="user" placeholder="Email"><br>
					<input type="submit" value="Set Instructor" class="btn accent-2">
				</form>
			</div>
			<div class="col s1 m3 l4 xl4">
			</div>
			{% endif %}
			{% endif %}
		</div>
	</div>
</div>

<div class="row">
	<div class="col s0 m1 l2 xl2 hide-for-print">
	</div>
	<div class="col s12 m10 l8 xl8">
		<form id="syllform" method="POST" action="/save">
			<div id="syllabus">
				<input type="hidden" value="{{ syllabus.id|safe }}" name="test1">
				<!--<h5>Basic Information</h5>-->
				<div id="a" class="disp">
					{{ syllabus.basic|safe }}
				</div>
				<br>

				<h5>Course Description</h5>
				<div id="b" class="disp">
					{{ syllabus.description|safe }}
				</div>
				<br>

				<h5>Course Topics</h5>
				<div id="c" class="disp">
					{{ syllabus.topics|safe }}
				</div>
				<br>

				<h5>Learning Outcomes</h5>
				<div id="d" class="disp">
					{{ syllabus.outcomes|safe }}
				</div>
				<br>

				<h5>Grading Policy</h5>
				<div id="e" class="disp">
					{{ syllabus.grading|safe }}
				</div>
				<br>

				<h5>Course Schedule</h5>
				<div id="f" class="disp">
					{{ syllabus.schedule|safe }}
				</div>
				<br>

				<h5>Academic Honesty</h5>
				<div id="g" class="disp">
					{{ syllabus.honesty|safe }}
				</div>
				<br>

				<h5>Registration Deadlines</h5>
				<div id="h" class="disp">
					{{ syllabus.deadlines|safe }}
				</div>
				<br>

				<h5>Accessibility Policy</h5>
				<div id="i" class="disp">
					{{ syllabus.accessibility|safe }}
				</div>
				<br>

				<h5>Keywords</h5>
				<div id="j" class="disp">
					{{ syllabus.keywords|safe }}
				</div>
			</div>
			<br>
		</form>
	</div>
	<div class="col s0 m1 l2 xl2 hide-for-print">
	</div>
</div>

<script src="static/js/tinymce/tinymce.min.js"></script>
<script src="static/js/edit.js"></script>
{% endblock %}
